
@{
    ViewData["Title"] = "FetchDataSeries";
}

<h1>FetchDataSeries</h1>

<h1>FetchDataSeries</h1>

Generated Series is as @ViewBag.Data

<br />
<br />

Get the output </br>

<form method="post" action="ShowDataSeries">
    Enter the divisor : <input type="text" name="divisor" value="" /> <br />
    Enter the number  : <input type="text" name="number" value="" /> <br />
    <input type="submit" value="ShowResult" />
</form>

