
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form method="post" action="GenerateSeries/FetchDataSeries">
    Enter Series : <input type="text" name="mnumber" value="" /> <br />
    <input type="submit" value="submit" />

</form>

